.addTit{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: STSong;
    font-weight: bold;
}

.addB{
    float: left;
    margin-top: 10px;
    width: 40%;
    height: 250px;
}
.addB0{
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
.addB1{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    height: 250px;
    width: 363px;
}
.addB3{
    float: right;
    width: 200px;
    height: 60px;
    margin-right: 200px;
    margin-top: 20px;
    padding-top: 30px;
}

.a3{
    background-color: #2b669a;
    color: white;
    margin-top: 20px;
    padding: 3px 20px;
}